* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

button {
    margin: 5px 10px;
    background-color: aliceblue;
    padding: 10px 20px;
    border-radius: 8px;
    border: 1px solid rgb(0, 0, 0, 0.1);
}

button:hover{
    border: 1px solid transparent
}

.container {
    margin-top: 50px;
    display: grid;
    width: 99vw;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 50px;

}

.card-container {
    justify-self: center;
    background-color: antiquewhite;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 400px;
    height: 500px;
    border-radius: 15px;
}

.title,
.author,
.pages,
.read {
    font-weight: bold;
}